@media screen and (max-width:820px){
    .cart{
     
        grid-template-columns:    1fr;
    
    
        >aside {
            
            padding: 20px;
            border-radius: 0;
            > h2{
                font: 400 13px 'Roboto';
    
                &:last-of-type{
                    font-weight: 600;
                }
            }
        }
    }
}